<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header"><h2>Sign up</h2></div>
                <div class="card-body">
                    <!--all form-->
                    <form (submit)="signUp()">
                        
                        <!--email param-->
                        <div class="form-group">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" name="email" #email="ngModel" 
                                    [(ngModel)]="user.email" class="form-control" required>
                                    <label for="email">Email</label>
                                </div>
                            </div>
                        </div>
    
                        <!--username param-->
                        <div class="form-group">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="username" type="text" name="username" #username="ngModel" 
                                    [(ngModel)]="user.username" class="form-control" required>
                                    <label for="username">Username</label>
                                </div>
                            </div>
                        </div>
    
                        <!--in principle, this part of the form must be select options but it doesn't work-->
                        <!--role param-->
                        <div class="form-group">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="role" type="text" name="role" #role="ngModel" 
                                    [(ngModel)]="user.role" class="form-control" required>
                                    <label for="role">Role</label>
                                </div>
                            </div>
                        </div>
    
                        <!--password param-->
                        <div class="form-group">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" name="password" #password="ngModel" 
                                    [(ngModel)]="user.password" class="form-control" required>
                                    <label for="password">Password</label>
                                </div>
                            </div>
                        </div>
    
                        <!--repeat password param-->
                        <div class="form-group">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cpassword" type="password" name="cpassword" class="form-control" required>
                                    <label for="cpassword">Confirm Password</label>
                                </div>
                            </div>
                        </div>
    
                        <!--submit button-->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                        </div>
    
                        <!--register via google & facebook-->
                        <p><a href="" class="btn btn-block btn-outline-info">Sign up via Google</a></p>
                        <p><a href="" class="btn btn-block btn-outline-primary">Sign up via Facebook</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>