<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header"><h2>Login</h2></div>
                <div class="card-body">

                    <!--all form-->
                    <form (submit)="logIn()">

                        <!--email param-->
                        <div class="form-group">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" name="email" #email="ngModel" 
                                    [(ngModel)]="user.email" class="form-control" required>
                                    <label for="email">Email</label>
                                </div>
                            </div>
                        </div>

                        <!--password param-->
                        <div class="form-group">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" name="password" #password="ngModel" 
                                    [(ngModel)]="user.password" class="form-control" required>
                                    <label for="password">Passsword</label>
                                </div>
                            </div>
                        </div>

                        <!--submit button-->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>

                        <!--password reminder-->
                        <p class="text-center"><a href="#" class="form control login-user">Forgot password?</a></p>
                        
                        <!--signup reminder-->
                        <p class="text-center"><a href="/user/signup" class="form control login-user">You don't have an account?</a></p>

                        <!--login via google & facebook-->
                        <p><a href="" class="btn btn-block btn-outline-info">Login via Google</a></p>
                        <p><a href="" class="btn btn-block btn-outline-primary">Login via Facebook</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>